* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 250px;
  height: 250px;
  padding: 10px;
  background-color: burlywood;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
}
